<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/51dcf4c6-17fc-4d30-8dcf-d7c5207b7632/resourceGroups/rg-aca-demo/providers/Microsoft.ContainerRegistry/registries/cloudtribedemoacr</ResourceId>
    <ResourceName>cloudtribedemoacr</ResourceName>
    <ResourceGroup>rg-aca-demo</ResourceGroup>
    <Subscription>Visual Studio Enterprise</Subscription>
    <RegistryUrl>https://cloudtribedemoacr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8d4f2a70-087a-4d36-9649-1f91cb819d71</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>